<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.enterprisedb">
  <resources>
    <resource-root path="edb-jdbc16.jar"/>       
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api" />
   </dependencies>
</module>

